

<!--%= link_to 'administracao_path', '/administracao' %-->
<div class = "texto">
			<h3> Conhecendo a dislexia</h3>
			<br />
			
			<p>
			<%= image_tag("dislexia1.jpg", :alt => "image", :style => "width:300px;height:300px;float:left;") %>
			
				Ao analisarmos crianças em fases iniciais de aprendizado, podemos perceber que grande parte dessas crianças encontram barreiras ao quando para compreender o que lhe foi passado em sala de aula, o que vem gerando grande preocupação, á que tais dificuldades podem estar associadas a outros problemas que requerem uma maior atenção tanto de pais, quanto da comunidade educacional.
			</p>

			<p>
				Entre tais problemas enfrentados podemos citar a discalculia, a dislexia, a Sindrome de Down, o autismo, dentre outros. Neste site abordaremos a dislexia, onde apresentaremos seus aspectos como o que é a dislexia, as dificuldades enfretadas pelos indivíduos portadores da mesma e, a partir de bases pedagógicas, apontar formas pelas quais se pode amenizar as barreiras enfrentadas pelo disléxico. Vamos a elas! 
			</p>
			<p>
				A dislexia, segundo Jean Dubois et al. (1993, p.197), é um defeito de aprendizagem da leitura caracterizado por dificuldades na correspondência entre símbolos gráficos, às vezes mal reconhecidos, e fonemas, muitas vezes, mal identificados.

			</p>
			<p>
				A dislexia é um transtorno de aprendizagem com ênfase na habilidade de leitura, ou seja, o individuo terá maior dificuldade de ler escrever em relação aos demais alunos. Onde a criança apresenta uma dificuldade de associação de letras com seus sons e seus simbolos, confunde letras como "p" e "b". É um distúrbio em um ou mais dos processos psicológicos básicos, envolvidos no entendimento e no uso da linguagem, tanto falada, quanto escrita.
			</p>
			<p>
				A dislexia é um distúrbio mais comum do que podemos imaginar, porém, nem todas as dislexias são iguais e existem diferentes tipos, dos quais vamos citar os mais comuns. 
			</p>
			<p>
				De acordo com o Portal Educação (2013), dentre os tipos de dislexia temos: A <b>dislexia auditiva ou disfonética</b> - Acriança apresenta carência de percepção de sons, acarretando em dificuldades com a fala, erros de escrita, troca de silabas, erros de leitura, pela dificuldade de associação de grafemas com fonemas; a <b>dislexia visual ou diseidética</b> - dificuldade em diferir lados direito e esquerdo, erros de leitura por conta da má visualização de palavras e erros ortográficos; e a <b>dislexia mista</b> - caracterizada pela união de dois ou mais tipos de dislexia, podendo o indivíduo apresentar dificuldades, tanto visuais, quanto auditivas.
			</p>
			<p>
				Agora, já devidamente apresentados a dislexia, vamos aos métodos utilizados para auxiliar tais pessoas. Dentre as metodologias utilizadas, a tecnologia vem sendo de grande ajuda, considerando que, atualmente, a grande maioria das pessoas desde cedo já possui contato direto com computadores, tablets, smartphones e assim por diante. A partir disso, pode se notar que a tecnologia é uma grande aliada para pessoas com dificuldades de aprendizado. Você quer saber como a tecnologia pode ajudar? visite a página <b>Atividades</b> no menu acima e descubra mais!
			</p>
		</div>