<div class = "atividade">
	<h1>Atividades</h1>

	<p>
	<%= image_tag("jogo.jpg", :alt => "image", :style => "width:300px;height:200px;float:left;") %>
		Se você chegou até aqui é porque está interessado em descobrir como a tecnologia pode ser uma grande aliada para crianças e adultos portadores de transtorno de aprendizagem. Aqui vamos abordar a dislexia, pois é o foco deste site. Vamos as metodologias?
	</p>
	<p>
		Como mencionamos, anteriormente, a tecnologia está e todos os lugares, e cada vez mais, nossas crianças vão adquirindo cada vez mais cedo o contato com essas novidades, pensando assim, por que não aliar a tecnologia com a educação? Pois bem! Uma das grandes apostas para os transtornos de aprendizagem é o uso de jogos educacionais, pois estes são capazes de captar a atenção do indivíduo, fazendo com que aprenda de forma, por que não dizer, mais rápida e dinâmica, pois é o dinamismo que procuramos. Pois ai vão alumas dicas de alguns jogos:
	
	</p>

	<p>
		
		De acordo com a psicopedagoga Lourdes Rufino, professora no curso de Licenciatura em Pedagogia, da Universidade Federal do Piauí - UFPI- Picos, os jogos pedagógios podem auxiliar bastante e estimular a criança a desenvolver suas aptidões. Alguns jogos como: Jogo da memória, quebra-cabeças, completar a imagem, caça palavra e muitos outros mais, podem ser de grande ajuda no crescimento educacional de crianças com dislexia.
	</p>
</div>