<div class = "atividade">
	<h1>Equipe Multidisciplinar</h1>

	<p>
	<%= image_tag("eqp.jpg", :alt => "image", :style => "width:300px;height:200px;float:left;") %>
		Agora vamos falar de algo muitooo importante para o acompanhamento de crianças portadoras de dislexia,é a equipe multidiciplinar. Sim, esta equipe deve existir dentro de uma instituição de ensino para que possa colher todas as informações necessárias, tanto para diagnóstico da dislexia, quanto para os métodos de intervenção.
	</p>
	<p>
		E quem são os componentes desta equipe multidiscipinar? Bom, compõe esta equipe todos os profissionais envolvidos no diagnóstico da dislexia, são eles psicólogos, para oferecer aparatos necessários para que a criança se desenvolva e não se desistimule com suas dificuldades, pois, além dos prejuízos educacionais, a dislexia, se não diagnosticada o mais breve possível, pode influenciar de forma negativa na vida do indivíduo. O fonoaudiólogo também compõe a equipe, assim como professor, pedagogos e psicopedagogos.
	</p>
	<p>
		
		É de suma importância, como mencionado anteriormente, que o diagnóstico seja realidado o mais breve possível, evitando assim, maiores danos na vida do indivíduo.
	</p>
</div>
