<div class = "atividade">
	<h1>Estudante</h1>

	<p>
	<%= image_tag("cri.jpg", :alt => "image", :style => "width:300px;height:200px;float:left;") %>
		Agora vamos falar de alguém bastante importante, o aluno com dificuldade de aprendizagem, no nosso caso, o disléxico. Bom, é importante ressaltar que nem toda dificuldade que a criaça venha a ter, de imediato caracteriza que esta possua dislexia, não é bem assim! A dislexia possui uma série de características que muitas vezes são confundidas, mas é de grande importancia que, pais e professores, ao notarem que seus filhos ou alunos apresentam alguma dificuldade, encaminhem o indivíduo para avaliação por uma equipe multidisciplinar e esta fará suas avaliações e posteriormente, o diagnóstico.
	</p>
	<p>
		Como citado acima, a dislexia é bastante confundida e é importante pontuar que a dislexia não se trata de falta de interesse, falta de atenção do aluno ou até mesmo falta de inteligência, não é assim! Crianças portadoras de dislexia apresentam inteligência normal ou até mesmo mais elevada em relação a alunos normais, o que acontece é que os disléxicos apresentam dificuldades no momento de associação de letras com seus sons e seus símbolos gráficos, uma caligrafia mal desenhada, má leitura, devido a má visualização das palavras entre outros mais sintomas. Outro fato que é importante pontuar é que a dislexia não se trata de problemas auditivos ou vizuais, mas sim de uma má formação do encéfalo que afeta as áreas da leitura e da escrita.
	</p>
	<p>
		
		Bem, esperamos que tenhamos esclarecido bastante coisas em relação a dislexia.
	</p>
</div>

