<div class = "atividade">
	<h1>Pais</h1>

	<p>
	
	<%= image_tag("pais.jpg", :alt => "image", :style => "width:300px;height:200px;float:left;") %>
		Bom, nesta etapa, vamos falar dos pais e aos pais de crianças disléxicas. Primeiramente queremos dizer: pais os seus filhos portadosres de dislexia, são plenamente capazes de viverem sozinhos, de se virarem sozinhos e, principalmente, de aprender a ler e a escrever. Claro que é preciso que seja realizado diagnóstico e que seja feita a intervenção com metodologias para que seus filhos desenvolvam suas capacidades cognitivas, certo?
	</p>
	<p>
		Segundo, queremos dizer que é de suma importância o apoio, a compreensão, a presença e a paciência dos pais com essas crianças para que estas se sintam confiantes e que possam adquirir aprendizado a sua maneira. A família tem um papel fundamental para o bom desempenho e desenvolvimento das habilidades da criança, então é necessário bastante calma, é necessário ajudá-los nas tarefas de casa e o mais importante, carinho e amor.
	</p>
	
</div>


