<div class = "atividade">
	<h1>Sobre</h1>

<%= image_tag("jade.jpg", :alt => "image", :style => "width:260px;height:270px;float:left;") %>
	<p>
		Bem, agora será apresentado o propósito deste trabalho, da construção deste site e tudo mais. 
	</p>
	<p>
		Antes de tudo me chamo Jadielly Lima, aluna do curso de Bacharelado em Sistemas de Informação, pela Universidade Federal do Piauí, Campus de Picos-Pi.
	</p>
	<p>
		Trata-se de um trabalho para obtenção de nota na disciplina de Programação para Web II, ministrada pelo professor Francisco Imperes.
	</p>
	<p>
		Este trabalho também foi implementado para a disciplina de Trabalho de Conclusão de Curso, onde o tema é elaborar um protótipo de um game educativo para crianças com dislexia, sob a orientação do profssor Msc. Franck César Lopes Veras.
	</p>
	<p>
		A tecnologia como ferramenta educacional vem auxiliando as pessoas em suas dificuldades e fazendo com que estas superem ou amenizem suas barreiras de aprendizado, um trabalho em que se alia uma ferramenta atual, utilizada por todos, a tecnologia para um bem maior, para que pessoas que possuem uma maior dificuldade de aprender, possam buscar na tecnologia uma alternativa para mudar a sua realidade. Este vem sendo um tema bastante gratificante, onde a cada pesquisa um maior conhecimento e uma maior motivação para prosseguir o trabalho até o fim.
	</p>
	
</div>

p>
